
.css-6tzk3l {
    width: 100%;
    cursor: auto;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--white);
    border-radius: 0px 0px 16px 16px;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: 0.4s;
    transition-delay: 0.2;
    transition-timing-function: ease;
    box-shadow: 0 100vh 0 100vh rgba(2, 11, 39, 0.5);
}